html {
    zoom: 140%;
}

body {
    font-family: 'Happy Monkey', cursive;
    background-color: #E4E4E4;


}

input[type="text"] {
    width: 170px;




}

#ansTxt {
    height: 24px;
}

#calci {
    width: 180px;
    height: 190px;
    box-sizing: border-box;

}

#result {
    width: 320px;
}

#container {
    transform: translate(33px, 100px) !important;

    border: solid 0.8px;
    border-radius: 4px;
    border-color: rgba(190, 192, 192, 0.233);
    width: 180px;
    position: fixed;
}

button {
    border: none;
    margin: 7px;
    width: 25px;
    background-color: #F0FDFD;
}

#calci {
    background-color: #F0FDFD;

}

.forColor {
    color: #40D8D6;



}

button:focus,
input[type="text"] {
    outline: none;
}

button:active {
    font-size: 7px;
}

img:active {
    width: 10px !important;
}

#dot {
    position: relative;
    top: -5px;
}

.social-media {
    text-align: center;
    position: relative;
    top: 420px;
    background-color: #E4E4E4;
}

.social-media p {
    margin-top: 10px;
    font-size: 9px;
    font-family: 'Montserrat', sans-serif;

}

.social-icon {
    color: black;
    margin: 10px 15px 10px;
    font-size: 12px;
}

@media (min-width:961px) {
    #container {
        transform: translate(450px, 100px) !important;
    }
}